<h1>Classement</h1>
<p>Ceci est le classement des articles de blogs de notre base de données suivant leur qualité.</p>

<ol>
<% @classement.each do |key, value| %>
	<li>Polyscore : <%= key %>, URL : <%= value %></li>
<% end %>
</ol>

