<h1>Accueil</h1>

<p>L'objectif de ce site est d'évaluer de la qualité d'un article de blog en se basant sur la notion du "social engagment". </br>
A partir d'une URL d'un article, nous recueillons différents indicateurs (backlinks, nombre de commentaires, etc.) qui, une fois traités par un algorithme, nous permettent d'évaluer la qualité supposée de l'article. </p>


<%= link_to "Ajouter un article", ajouterArticle_path, :class => "ajouterArticle_button round" %>
<%= link_to "Consulter le classement", consulterClassement_path, :class => "consulterClassement_button round" %>
